.input {
  width: 396px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  outline: none;
  border: none;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .input {
    width: 100%;
  }
}

.input__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.input__field {
  width: 396px;
  height: 46px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  color: #000000;
  outline: none;
  padding-left: 15px;
  box-sizing: border-box;
}

.input__field_error {
  color: #ff3055;
}


@media screen and (max-width: 480px) {
  .input__field {
    width: 100%;
  }
}

.input__error {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ff3055;
}
