.button-submit {
  background: #3456f3;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  border: none;
  padding: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}

.button-submit:hover {
  opacity: .7;
}

.button-submit_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.button-submit_disabled:hover {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .button-submit {
    width: 100%;
    font-size: 12px;
    line-height: 1.25;
  }
}
