.notification-container {
  position: fixed;
  right: 70px;
  top: 65px;
  width: 200px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .notification-container {
    right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .notification-container {
    right: 14px;
  }
}

.notification {
  margin-bottom: 16px;
  width: 100%;
  padding: 8px;
  border-radius: 7px;
  box-shadow: 0 0 15px 2px rgb(43, 224, 128, 1);
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  background-color: #fff;
}


