.navigation {
  margin-right: auto;
  margin-left: 44px;
}

.navigation__link {
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-decoration: none;
  margin-right: 16px;
}

.navigation__link-logged-in {
  color: #fff;
}

.navigation__link:last-of-type {
  margin-right: 0;
}

.navigation__link_active {
  font-weight: 600;
}